.WrapperHome {
    width: 100%;
    padding-top: 3%;
    height: calc(100vh - 10vh);
}

.WrapperHome .Home {
    display: flex;
    flex-direction: column;
    width:65%;
    margin-left: auto;  
    margin-right: auto;
    padding-top: 1%;
    align-items: flex-start;
    height: 100%;
}

.WrapperHome h1 {
    font-weight: 500;
    align-self: center;
}

.WrapperHome img {
    align-self: center;
    width: 50%;
  }

.WrapperHome .PickUpButton {
    align-self: center;
    margin-top: 5%;
}
  