.Video_Info h1 {
    font-size: x-large;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 4%;
    margin: 0;
    font-weight: bold;
}

.Video_Info h2 {
    font-size: larger;
    font-weight: normal;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin: 0;
}

.Video_Info{
    background-color: white;
    border-bottom-style: solid;
    border-radius: 1px;
    border-color: #9FA8DA;
    margin-top: 0%;
    width: 350%;
    margin-top: 30%;
}

.Details{
    margin-left: 100%;
    width: 100%;
    margin-top: 20%;
    margin-right: 50%;
}

.Details h1{
    font-size:xx-large;
    font-weight: bold;
}

.Details h2{
    font-size: larger;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin: 0;
}

.Details h3{
    font-size: larger;
    font-weight: normal;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin: 0;
}

.VideoTrans {
    text-decoration: underline blue;
    color: blue;
}


.Details .IconBack{
    margin-top: 55%;
}

.videoInfo{
    margin-bottom: 20%;
}


.VideoTags{
    margin-bottom: 20%;
    margin-top: 20%;
}
